<html>
    <head>
        <title>ERROR - IAM MovieDB 0.1</title>

        {% load static %}
        <link rel="icon" type="image/png" href="{% static 'img/movie_camera-256.png' %}">
    
    </head>
                    
    <body>        
        <p>
        	You've reach an error page, that's so sad... 
        </p>                             
    </body>       

    <footer>
        <p>
            /* @ Copyrights */ 
            </br>    
             Imagined, Designed and Developed by B. Gras and P. Sygnet    
        </p>
        <!-- 
        <img src="{% static 'img/powered-by-tmdb.svg' %}" style="width: 200px;">
        -->

    </footer>                
</html>
